@keyframes navitemin {
    from {
        opacity: 0;
        transform: translate(0, -2rem);

    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes jump {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -0.3rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes jumpToTop {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -1rem);
    }
}

@keyframes scaleAnimation {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        transform: translate(-2rem, 0);
    }

    25% {
        transform: translate(2rem, 0);
    }

    50% {
        transform: translate(-2rem, 0);
    }

    75% {
        transform: translate(2rem, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes slideInAbout {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }
    to {
        opacity: 1;
        transform:  translateX(0);
    }
}
