#nav-main-toggle {
    display: none;
}
  
  .navbar {
    background-color: white;
    color: black;
    box-shadow: 2px 16px 26px -15px rgba(0,0,0,0.37);
    display: flex;
    margin-top: 2rem;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: flex-end;

    img {
        width: 7rem;
    }

    span.maria, span.wyatt{
        font-family: 'Tangerine', cursive;
       font-size: 3.5em;
       text-shadow: 4px 4px 8px rgba(150, 150, 150, 1);
       span {
           color: #C79438;
       }
    }

   div {
    position: absolute;
    top: 4rem;
    left: 12rem;
   }

    span.hair {
        font-family: 'Tangerine', cursive;
        font-size: 1.5em;
        text-shadow: 4px 4px 8px rgba(150, 150, 150, 1);
    }

   div:nth-child(3) {
    position: absolute;
    top: 8rem;
    left: 17rem
   }

    .navbar-brand {
        padding: 0;
    }

    ul {
        display: flex;
        list-style: none outside;
        padding: 0 0 1rem 0;
        margin: 0;
        height: 5rem;
        align-items: flex-end;
    }

    li a {
        padding: 0.8rem;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.5em;
    }

    li::before{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f521';
        display: none;
        text-align: center;
        margin: 0 auto 1rem auto;
        font-size: 1.5em;
        color: #C79438; 

    }

    li a:hover {
        color: #C79438; 
    }


    li:hover::before {
        display: block;
    }

  }


  @media screen and (max-width: 320px) {
    body > div > header > div > div {
        display: none;
    }
    .fa-phone-volume {
        padding: .35rem .35rem .35rem 1rem;
    }

    .nav-toggle {
        display: block;
    }

    .navbar {
        padding: 0;
        justify-content: center;
        align-items: center;

        div  {
           display: none;
        }

        ul {
            display: none;
        }
    }

    // .nav-toggle:checked {
    //     .navbar{
    //         display: none;
    //     }
    // }
   
  }