<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Tangerine:700&amp;subset=cyrillic,hebrew,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
</head>
<body>
  <div class="site">
      <input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
      <header>
        <div class="loginbar">
            <i class="fas fa-phone-volume"><span>0888 123 123</span></i>
            <div><a href="#" class="animated-button log-in">Вход</a></div>
            <label id="nav-toggle" for="nav-main-toggle" class="nav-toggle"><i class="fas fa-bars"></i></label>
        </div>
        <nav class="navbar">
            <p class="navbar-brand"><a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/img/logo.png" alt=""></a>
            <div><span class="maria"><span>M</span>aria</span> <span class="wyatt"><span>W</span>yatt</span></div>
            <div><span class="hair">Hair & Beauty</span></div>
            </p>
            <ul>
              <li><a href="{{ site.baseurl }}/">Начало</a></li>
              <li><a href="{{ site.baseurl }}/about/">За нас</a></li>
              <li><a href="#javascript">Услуги</a></li>
              <li><a href="#javascript">Галерия</a></li>
              <li><a href="#javascript">Контакти</a></li>
            </ul>
          </nav>
      </header>
      <main class="site-content">
			
          {{content}}
        
      </main>
      <footer class="site-footer">
        <div class="top-holder">
            <div class="container-brand-info">
                <a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/img/logo.png" alt=""></a>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. facilis labore libero officia est nobis possimus consequatur velit! Sit, vitae cumque.</p>
                <div class="social-icon">
                    <a href="https://www.facebook.com/mariawyatt0109/"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fas fa-envelope"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="container-contact-info">
                <h4>Контакти</h4>
                <p>България, София, жк. Манастирски ливади</p>
                <p>mariawyatt0109@icloud.com</p>
            </div>
            <div class="container-worktime-info">
                <h4>Работно време</h4>
                <p>Пон-Пет: 09ч - 20ч</p>
                <p>Събота: 09ч - 18ч</p>
                <p>Неделя: Затворено</p>
            </div>
            <div class="container-maps-info">
                <h4>Карта</h4>
                <a href="#"><img src="http://curly.mikado-themes.com/wp-content/uploads/2018/04/footer-img-2.png" alt=""></a>
            </div>
         </div>
      </footer>
  </div>
</body>
</html>