<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{site.baseurl}}/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>{{ site.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Tangerine:700&amp;subset=cyrillic,hebrew,latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="site">
        <input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
        <header>
            <div class="loginbar">
                <i class="fas fa-phone-volume"><span>0888 123 123</span></i>
                <div><a href="{{ site.baseurl }}/login/" class="animated-button log-in">Вход</a></div>
                <label id="nav-toggle-style" for="nav-main-toggle" class="nav-toggle"><i class="fas fa-bars"></i></label>
            </div>
            <nav class="navbar">
                <p class="navbar-brand"><a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/img/logo.png" alt=""></a>
                    <div><span class="maria"><span>M</span>aria</span> <span class="wyatt"><span>W</span>yatt</span></div>
                    <!-- <div><span class="hair">Hair & Beauty</span></div> -->
                </p>
                <ul class=".navbar-nav">
                    <li {% if page.url == '/' %}class="active-li"{% endif %}><a {% if page.url == '/' %}class="active" {% endif %} href="{{ site.baseurl }}/">Начало</a></li>
                    <li {% if page.url == '/about/' %}class="active-li"{% endif %}><a {% if page.url == '/about/' %}class="active" {% endif %} href="{{ site.baseurl }}/about/">За нас</a></li>
                    <li {% if page.url == '/services/' %}class="active-li"{% endif %}><a {% if page.url == '/services/' %}class="active" {% endif %} href="{{ site.baseurl }}/services/">Цени</a></li>
                    <li {% if page.url == '/gallery/' %}class="active-li"{% endif %}><a {% if page.url == '/gallery/' %}class="active" {% endif %} href="{{ site.baseurl }}/gallery/">Галерия</a></li>
                    <li {% if page.url == '/contact/' %}class="active-li"{% endif %}><a {% if page.url == '/contact/' %}class="active" {% endif %} href="{{ site.baseurl }}/contact/">Контакти</a></li>
                </ul>
            </nav>
        </header>
        <main class="site-content">

            {{content}}

        </main>
        <footer class="site-footer">
            <div class="top-holder">
                <div class="container-brand-info">
                    <a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/img/logo.png" alt=""></a>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. facilis labore libero officia est
                        nobis possimus consequatur velit! Sit, vitae cumque.</p>
                    <div class="social-icon">
                        <a href="https://www.facebook.com/mariawyatt0109/"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="container-contact-info">
                    <h4>Контакти</h4>
                    <p>България, София, жк. Манастирски ливади Грийн Резиденс</p>
                    <p>mariawyatt0109@icloud.com</p>
                </div>
                <div class="container-worktime-info">
                    <h4>Работно време</h4>
                    <p>Пон-Пет: 09ч - 20ч</p>
                    <p>Събота: 09ч - 18ч</p>
                    <p>Неделя: Затворено</p>
                </div>
                <div class="container-maps-info">
                    <h4>Карта</h4>
                    <a href="https://www.google.bg/maps/place/1404+%D0%93%D1%80%D0%B8%D0%B9%D0%BD+%D0%A0%D0%B5%D0%B7%D0%B8%D0%B4%D0%B5%D0%BD%D1%81,+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F/@42.6560649,23.2891569,17.14z/data=!4m5!3m4!1s0x40aa849229ebcc4b:0x4c313692d23d25fe!8m2!3d42.6567255!4d23.289481" target="_blank"><img src="http://curly.mikado-themes.com/wp-content/uploads/2018/04/footer-img-2.png"
                            alt=""></a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>