<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Tangerine:700&amp;subset=cyrillic,hebrew,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
</head>
<body>
  <div class="site">
      <header>
        <div class="loginbar">
            <i class="fas fa-phone-volume"><span>0888 123 123</span></i>
            <div><a href="#" class="animated-button log-in">Вход</a></div>
        </div>
        <nav class="navbar">
            <p class="navbar-brand"><img src="{{site.baseurl}}/img/logo.png" alt="">
             <div> <span class="maria"><span>M</span>aria</span> <span class="wyatt"><span>W</span>yatt</span></div>
              <span class="hair">Hair & Beauty</span>
            </p>
            <ul>
              <li><a href="#html">Начало</a></li>
              <li><a href="#css">За нас</a></li>
              <li><a href="#javascript">Услуги</a></li>
              <li><a href="#javascript">Галерия</a></li>
              <li><a href="#javascript">Контакти</a></li>
            </ul>
            <button class="navbar-toggler">
              <span></span>
            </button>
          </nav>
      </header>
  </div>
</body>
</html>